<header class="header">
    <h1>Versions directori <span id="path">{{file}}</span></h1>
</header>

<div class="menu col-md-2">
    <hr>
    <div class="amunt">
	    <a href="{{breadcrums}}">Puja un nivell</a>
    </div>
    <hr>
    <h3>Fitxers Disponibles</h3>
    <hr>
    <ul>
        {{#each fitxers}}
        <li><a href="{{../pare}}/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
    <hr>
    <h3>Accions de directori</h3>
    <hr>
    <button class="btn btn-success" onClick="backup_file(event)">Backup</button> 
    <button class="btn btn-warning" onClick="undo_restore_file(event)">Desfer Restaurar</button>
</div>

<div class="col-md-10">
	<section id="cd-timeline" class="cd-container">
		{{#each commits}}
		<div class="cd-timeline-block">
			<div class="cd-timeline-img" style="background: lightcoral">
				<img src="/img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->
			
			<div class="cd-timeline-content">
				<h2>{{commit}} - {{author}}</h2>
				<p>{{message}}</p>
				<button class="btn btn-default" onClick="restore_file(event)" tag="{{commit}}">Recuperar</button>
				<button class="btn btn-default" onClick="diff_file(event)" tag="{{commit}}">Mostrar diferències</button>
				<button class="btn btn-default" onClick="show_file(event)" tag="{{commit}}">Mostrar canvis</button>
				<button id="close_{{commit}}" class="hidden btn btn-danger" onClick="close_panel(event)" tag="{{commit}}">Tanca</button>
				<div id="panel_{{commit}}" class="well hidden">

				</div>
				<span class="cd-date">{{date}}</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
		{{/each}}
	</section>
</div>